<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
         background-color: rgb(9, 53, 81);
         color: white;
         display: flex;
         align-items: center;
         flex-direction: column;
         min-height: 100vh;
        }
        #resetfrom{
            background-color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            flex-direction: column;
            width: 50%;
            padding: 20px;
            border-radius: 7px;
            color: black;
            font-size: 32px;

        }
        #password{
            width: 50%;
        }
        #submit{
            width: 25%;
            background-color: green;
            font-weight: bold;
            
        }

        #submit:hover{
            cursor: pointer;
        }
       #password,#submit{
        padding: 10px;
       border-radius: 7px;

        }

    </style>

</head>
<body>
    <h1>Reset Password for <%=email %></h1>
    <form id="resetfrom" action="/password/password-sucess" method="post">
        <!-- Hidden field to include the user's ID -->
        <input type="hidden" name="email" value="<%= email %>">

        <input type="hidden" name="token" value="<%= token %>">

        
        <!-- Field for the user to enter their new password -->
        <label for="password">Please enter your new password</label>
        <input type="password" name="password" placeholder="Enter your password" id="password" required>
    
        <button type="submit" id="submit">Submit</button>
    </form>
    </body>
<script>
    const submitBtn = document.getElementById("submit");
    submitBtn.addEventListener("click", (event) => {
        // Optional: Add your custom logic here
        // event.preventDefault(); // Do not prevent submission if you want to send the form data to the server
        console.log("Form submitted");

        // If you want to trigger the form submission manually after custom logic:
        // document.querySelector("form").submit();
    });
</script>
</html>
